.additem {
  height: 120px;
  width: 120px;
  background-color: blue;
  position: fixed;
  bottom: 5vmin;
  right: 6vmin;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}


.hideBox {
  display: none;
  transition: all .3s ease-in-out;
  height: 56vh;
  width: 50vw;
  transform: translate(-50%, -50%);
  
}
.dataitem{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  transition: all 1s ease-in-out;
  background-color: #FFFFFF;
   
}
.containeron{
 width: calc(100vw - 100px);
}
.containeroff{
  width: calc(100vw - 300px);
}

